img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  float: left;
  margin: 10px;
}

.title {
  font-weight: bold;
}

body {
  background-color: #f74647;
  text-shadow: #ffffff 0px 1px 0px;
  font-family: "Georgia", "Times", serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  padding-right: 50%;
}

a {
  padding-top: ;
}
